hydrofoil-common/src/main/resources/schema/statement/dataset.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="datasets">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="table">
                    <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required"/>
                        <xs:attribute name="realname" type="xs:string"/>
                        <xs:attribute name="datasource" type="xs:string" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>